---
layout: default
title: Home
JB.analytics.provider: Google
permalink: /
---

<!--<div class="horizontal transition">

	<div class="first"></div>
	<div class="second"></div>
	<div class="third"></div>
	<div class="fourth"></div>
	<div class="fifth"></div>

</div>-->

<header class="horizontal padded gray-bg">
	<div class="container">
		<div id="business-card" class="row">
			<div id="author-profile" class="span12">
				<h1>Alastair Mucklow</h1>
			</div>	
		</div>	
	</div><!-- .container -->
</header>

<section id="mission-statement" class="horizontal padded blue-bg relative">
	<div class="container">
		<div class="row">
			<div class="span8">
				<h2>Hello</h2>
				<p>I'm Senior Web Developer at Monocle magazine.</p>
				<!-- <p>I can help you with website design and development, Wordpress theming, web hosting, responsive websites - or just sensible advice!</p> -->
				<p>I'm not currently taking on new clients for freelance work, but to get in touch please try any of the methods below.</p>
				
			</div>
			<div class="span4 hidden-phone">
				<div class="thumb-container">
					<div class="thumbnail">
						<img src="img/alastair-mucklow220.jpg" alt="Alastair Mucklow">
					</div>
				</div>
			</div>
		</div>	
	</div><!-- .container -->
</section>

<section id="contact" class="horizontal padded khaki-bg">
	<div class="container">
		<div class="row">
			<div class="span12">
				<ul class="social no-bullet">
					<li class="twitter"><a href="http://twitter.com/strangerpixel">Follow @strangerpixel</a></li>
					<li class="linkedin"><a href="http://www.linkedin.com/in/alastairmucklow">uk.linkedin.com/in/alastairmucklow</a></li>
					<li class="email"><script>hello = 'hello' + '&#64' + 'strangerpixel.com'; document.write('<a href="mailto:' + hello + '">' + hello + '</a>');</script></li>
				</ul>	
			</div>		
		</div>	
	</div><!-- .container -->
</section>


<section class="horizontal padded white-bg">
	<div class="container">
		<div class="row">
			<div class="span12 border-bottom">
				<h2>Project highlights 2014-15</h2>
			</div>
			<div class="span12 border-bottom">
				<h3>Full service (design + build)</h3>
				<ul class="">
					<li><a href="https://github.com/strangerpixel/Confab">Confab Salon</a>
						<p>A project with <a href="http://www.poachedcreative.com/">Poached Creative</a> and Northamptonshire County Council</p>
					</li>
					<li><a href="http://www.superhappywedding.com">Super Happy Wedding</a>
						<p>A website I built for my own wedding in 2012.</p>
					</li>
					<li><a href="http://www.legsfeelingnopressure.com/the-tour-of-the-north/">Tour of the North microsite</a>
						<p>An extension to my own cycling blog to document a 5-day offroad bike trip.</p>
					</li>
					<li><a href="http://www.jaslehalphotography.com">Jas Lehal Photography</a>
						<p>Photography portfolio.</p>
					</li>
					<li><a href="http://www.joshuasofaer.com/">Joshua Sofaer</a>
						<p>A showcase of work by a performance artist.</p>
					</li>
				</ul>
			</div>
			<div class="span12">
				<h3>Build only</h3>
				<ul>
					<li><a href="http://www.sustainable-fashion.com/">Centre for Sustainable Fashion</a>
						<p>I built a Wordpress theme to power <a href="https://twitter.com/veryrobert">Rob Farrelly's</a> front-end design.</p>
					</li>
					<li><a href="http://www.ronzo.co.uk/">Ronzo</a>
						<p>A socially networked Wordpress theme with various design flavours - for Hoxton's favourite graffiti artist.</p>
					</li>
					<li><a href="http://windandfoster.com/">Wind &amp; Foster</a>
						<p>A creative studio specialising in video production.</p>
					</li>
					<li><a href="http://www.retrospectivecycles.com/">Retrospective Cycles</a> and <a href="http://www.retrospectivescooters.com/">Retrospective Scooters</a>
						<p>Two sibling sites selling restored bikes. Design by <a href="http://www.behance.net/DavidHardy">David Hardy</a>.</p>
					</li>
					<li><a href="http://www.pigeonsandpeacocks.com">Pigeons &amp; Peacocks</a>
						<p>Online element for this London College of Fashion magazine. Design by <a href="http://www.whynotassociates.com">Why Not Associates</a>.</p>
					</li>
					<li><a href="http://www.chapterpress.co.uk">Chapter Press</a>
						<p>Gallery website. Design by <a href="http://www.thestudioofwilliamsoncurran.com">The Studio of Williamson Curran</a>.</p>
					</li>
					<li><a href="http://www.fashion-manufacturing.com">DISC</a>
						<p>A micro-business supporting fashion manufacturing in the UK. Illustrations by <a href="http://www.telegramme.co.uk/">Bobby Evans</a>.</p>
					</li>
					<li><a href="http://www.charliecampbell.co.uk/">Charlie Campbell</a>
						<p>Photography website</p>
					</li>
				</ul>	
			</div>
		</div>
	</div>
</section>

<footer class="horizontal padded khaki-bg">
	<div class="container">
		<div class="row">
			<div id="copyright" class="span9">
				&copy; strangerpixel 2018
			</div>		
		</div>	
	</div><!-- .container -->
</footer>			

<!--
    <ul>
      {% for p in site.pages %}
      <li>
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
          {{ p.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
-->