---
layout: default
title: Home
permalink: /
---

<!--<div class="row">
	<div class="span8 offset2">
		<div id="business-card" class="row">
			<div class="span3 thumbnail"> 
				<img class="" src="img/alastair-mucklow220.jpg" alt="Alastair Mucklow">
			</div>
			<div class="span4">
				<h1>Alastair Mucklow</h1>
			</div>	
		</div>	
	</div>	
</div>-->

<div class="horizontal transition">

	<div class="first"></div>
	<div class="second"></div>
	<div class="third"></div>
	<div class="fourth"></div>
	<div class="fifth"></div>

</div>

<section class="horizontal padded gray-bg">

	<div class="container">
		<div id="business-card" class="row">
			<div class="span3">
				<img class="thumbnail" src="img/alastair-mucklow220.jpg" alt="Alastair Mucklow">
			</div>
			<div id="author-profile" class="span6">
				<h1>Alastair Mucklow</h1>
				<ul class="social no-bullet">
					<li class="twitter"><a href="http://twitter.com/strangerpixel">@strangerpixel</a></li>
					<li class="linkedin"><a href="www.linkedin.com/in/alastairmucklow">uk.linkedin.com/in/alastairmucklow</a></li>
				</ul>	
			</div>		
		</div>	
	</div><!-- .container -->

</section>

<section class="horizontal padded white-bg">

	<div class="container">

		<div class="row">

			<div class="span12">
				<h2>Recent projects</h2>
				<ul>
					<li>Ruby's Dalston</li>
					<li>Super Happy Wedding</li>
					<li>Tour of the North</li>
					<li>Jas Lehal Photography</li>
				</ul>	
			</div>
		</div>

	</div>

</section>



<!--
    <ul>
      {% for p in site.pages %}
      <li>
        <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.url }}">
          {{ p.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
-->