<!DOCTYPE HTML>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="author" content="Alastair Mucklow" />
	<meta name="description" content="Web development, wordpress theming and all kinds of general web plumbing. Based in West Norwood, London UK." />
	<title>Alastair Mucklow - Web development and sensible advice</title>

	<link rel="stylesheet" href="css/bootstrap.css" />
	<link rel="stylesheet" href="css/responsive.css" />  

	{% include JB/analytics %}

</head>
<body>
	
	{{ content }}

</body>
</html>
